aa-wanderer-map==0.1.5
aa-payout==0.2.24
aa-standingssync-zoo==1.10.6
aa-standingsrequests==1.4.1
allianceauth-corptools==2.13.0
fittings==2.2.0	
allianceauth-securegroups==0.8.0
aa-memberaudit==4.1.0
allianceauth-afat==3.12.3
aa-package-monitor==2.2.2
aa-timezones==2.4.2
allianceauth-discordbot==4.1.0
aa-fleetfinder==2.7.2
